body {

background-color: rgb(32, 5, 16);
background: linear-gradient(180deg, rgb(32, 5, 16) 0%, rgb(51, 16, 30) 100%);  
  background-position: center top;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.todo {
  color: rgb(255, 35, 101);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 30px;
}

.card {
  position: relative;
  width: 400px;
  height: 71px;
  background-color: rgb(27, 27, 27);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.textInput {
  width: 400px;
  height: 60px;
  background-color: rgb(27, 27, 27);
  color: rgb(197, 197, 197);
  display: flex;
  align-items: center;
  text-indent: 20px;
  font-size: 18px;
  /* border-bottom:  1px solid #d1c7c7;   */
  /* box-shadow: 0 4px 6px -6px #222; */
}

.inputTareas {
  background-color: rgb(27, 27, 27);
  color: rgb(197, 197, 197);
  border: hidden;
  font-size: 18px;
  outline: none;

}

::placeholder {
  color: rgb(197, 197, 197);
  opacity: 1;
  /* Firefox */
}



.tareaAgregada {
  width: 400px;
  height: 60px;
  color: rgb(197, 197, 197);
  display: flex;
  align-items: center;
  text-indent: 20px;
  font-size: 18px;
  box-shadow: 0 4px 6px -6px #222;

}

.itemsLeft {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 30px;
  color: rgb(197, 197, 197);
  display: flex;
  align-items: center;
  text-indent: 20px;
  font-size: 14px;
  box-shadow: 0 -4px 6px -6px #222;
}



.todo-btn {
  margin-top: -10px;
  margin-left: 96px;
  border-radius: 0;
  position: absolute;
  background-color: rgb(27, 27, 27);
  color: rgb(197, 197, 197);
  border: 1px solid #d1c7c7;
  height: auto;
  width: auto;
  border: none;


}

.todo-btn:hover {
  border: none;
  cursor: pointer;
}

.tareas{
  position: relative;
  width: 400px;
  height: 65px;
    background-color: rgb(27, 27, 27);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  margin-top: -9px;
}

.caja{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(27, 27, 27);
  color: rgb(197, 197, 197);
  box-shadow: 0 0 30px 1px #cc3b3b;
}

.hayTareas{
  text-indent: 25px;
}